body {
    background-image: url('assets/images/ui/backdrop.png');  
}
.h1 {
  text-align: center;
}

h2 {
	margin-top:0px;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
    background-color: # #F5F5F5;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #28a5e7; 
    background-image: url('assets/images/ui/splat-bg.png');    
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;

}
img.icon {
   width:70px;
   padding:5px;
}
img.icon.small {
   width:50px;
   padding:5px;
}
img.icon.tiny {
   width:30px;
   padding:2px;
}

.imgtble {
    padding:0px;
    width:50px;
    height:50px;
}

.red {
    background: #FF6961;
}
.lblue {
    background: #67A8C6;
}
.blue {
    background: #4393B9;
}
.green {
    background: #77DD77;
}

.weapon {
	height: 125px;
	margin:10px;
}

.abilitylist {
	height: 190px;
}


.highlight {
	font-weight: bold;
}

.highlight.up {
	color: green;
}

.highlight.down {
	color: red;
}

.help {
	display:inline-block;
 	width: 12px;
	height: 12px;
	line-height:12px;
	font-size:11px;
	font-weight: bold;
	border-radius:50%;
	background: #AAA;
	color: #fff;
    text-align: center;
	vertical-align: middle;
	content: "?";
	cursor: help;
}

.inactive {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity: 0.7;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.defcontainer {
	height: 50px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.defcontainer:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.deficon {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
}

.rzslider {
	margin:10px 0 15px 0
}